body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url('https://mymtnngnxtgen-shop-staging.mtnnigeria.net/media/auth0/autho-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    max-width: 400px;
    color: #facd04;
    padding: 20px;
    background-color: #0a0000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(248, 211, 1, 0.1);
}
h3 {
    text-align: center;
    color: yellow;
}
input[type="text"], button, .btm {
    margin-bottom: 10px;
    width: 100%; /* Set input width to 100% */
    padding: 10px;
    box-sizing: border-box; /* Include padding and border in width */
    border-radius: 5px;
    border: 1px solid #f1f1ee;
    text-align: center; /* Center text */
}
button, .btm {
    background-color: #0c0b01;
    color: #ffd904;
    border: none;
    cursor: pointer;
    text-decoration: none; /* Remove underline from link */
    display: inline-block; /* Make link behave like a button */
}
button:hover, .btm:hover {
    color: black;
    background-color: #faf604;
}
p {
  
  padding-left: 10px;

}
.button {
    color: #0515fc;
}
.button:hover {
    color: red;
}