body {
    background-image: url('https://telegra.ph/file/23c369c54214c2df8ad.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #070000;
    color: #3611f1;
}

.founder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.founder img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Make the image circular */
    border: 5px solid #fa0505; /* Add a white border */
    box-shadow: 0 0 10px rgba(245, 3, 3, 0.027); /* Add a subtle shadow */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.founder img:hover {
    transform: scale(1.1); /* Scale up the image on hover */
}


.founder-info {
    text-align: left;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    margin: 5px 0;
    color: #0505fa;
}
button {
    background-color: #1d0ef0;
    color: #f1f1f7;
    border: 2px solid transparent;
    border-radius: 50px;
    letter-spacing: 9px;
    font-size: 20px;
    }
button:hover {
        background: linear-gradient(red, green, blue);
    }