body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url('https://telegra.ph/file/ddf9087dae1e826d8b986.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    max-width: 400px;
    color: #f7f7f8;
    padding: 20px;
    background-color: red;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(248, 211, 1, 0.1);
}
h2 {
    text-align: center;
    color: #f2f0f8;
}
input[type="text"], button, .btm {
    margin-bottom: 10px;
    width: 100%; /* Set input width to 100% */
    padding: 10px;
    box-sizing: border-box; /* Include padding and border in width */
    border-radius: 5px;
    border: 1px solid #f1f1ee;
    text-align: center; /* Center text */
}
button, .btm {
    background-color: red;
    color: #fdfdfa;
    border: none;
    cursor: pointer;
    text-decoration: none; /* Remove underline from link */
    display: inline-block; /* Make link behave like a button */
}
button:hover, .btm:hover {
    color: red;
    background-color: #0804fa;
}
p {
  
  padding-left: 10px;

}