.container {
    color: #0a0101;
    width: 80%;
    max-width: 800px;
    background-color: #f7f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px red;
    animation: fadeIn 1s ease-in-out;
}
select, input {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    color: black;
    border: 2px solid;
    border-color: #0703fc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
h2 {
    color: #0703fc;
}
p {
    color: #0a0101;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
input[type="submit"] {
    width: 30%;
    padding: 10px;
    margin-top: 10px;
    background-color: blue;
    color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: red;
    color: blue;
}
h2#mtn-heading, h2.form-text {
    display: inline; /* Display on the same line */
}
h2#mtn-heading {
    color: blue; /* Color for AFA REGISTRATION */
}
h2.form-text {
    color: red; /* Color for Form */
}
#submissionTime {
    margin-top: 10px;
    font-weight: bold;
}