body {
      background-color: #fafaf4;
      font-family: "Cormorant Garamond", serif;
      font-size: 16px;
      color: #333333;
    }
    .form-control {
      font-family: "Cormorant Garamond", serif;
      font-size: 16px;
      height: inherit;
    }
    select.form-control  {
      height: 3em;
    }
    .form-check-label {
      font-weight: normal;
    }
    input[type="checkbox"], input[type=radio] {
        vertical-align: top;
        transform: scale(1.5);
        margin-right: 4px;
        margin-left: 4px;
        border-color: black;
        border: 3px solid;
    }
    .text-muted {
      color: #333333;
      filter: brightness(150%)
    }
    .btn {
      font-size: 1em;
    }
    .btn-primary {
      color: #ffffff;
      background-color: #337ab7;
      border-color: #f6e204;
      font-size: 1.75em;
      font-weight: bold;
    }
    .btn-primary.focus,
    .btn-primary:focus,
    .btn-primary:hover,
    .btn-primary.active,
    .btn-primary:active,
    .btn-primary.active.focus,
    .btn-primary.active:focus,
    .btn-primary.active:hover,
    .btn-primary:active.focus,
    .btn-primary:active:focus,
    .btn-primary:active:hover {
      color: #ffffff;
      background-color: #0687f8;
      border-color: #f6e204;
      filter: brightness(.80);
    }
    h1,.h1 {
      font-size: 3.33em;
      font-weight: bold;
    }
    h2,.h2 {
      font-size: 2.5em;
      font-weight: bold;
    }
    h3,.h3 {
      font-size: 1.95em;
    }
    h4,.h4 {
      font-size: 1.67em;
    }
    h5,.h5 {
      font-size: 1.38em;
    }
    h6,.h6 {
      font-size: 1.12em;
    }