body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.founder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.founder img {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Make the image circular */
    border: 5px solid #fff; /* Add a white border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.founder img:hover {
    transform: scale(1.1); /* Scale up the image on hover */
}


.founder-info {
    text-align: left;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    margin: 5px 0;
}
