body {
  background-image: url('https://telegra.ph/file/ddf9087dae1e826d8b986.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #0a0a0a transparent;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    color: #333;
  }
  
  .code-container {
    display: flex;
  }
  
  .code-form {
    flex: 1;
    padding: 10px;
    border: 1px solid #0a06f5;
    border-radius: 5px;
}

  
  .code-title {
    color: #f80606;
  }
  
  .code-input {
    width: 100%;
    min-height: 300px;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #1247f5;
    border-radius: 5px;
    resize: vertical;
  }
  
  .result-frame {
    width: calc(100% - 20px);
    height: 300px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
  }
  
  .run-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .run-button:hover {
    background-color: #79f079;
  }
  /* play.css */
.tab-button {
  background-color: #0b022b;
  border: none;
  color: #f8f2f2;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tab-button:hover {
  background-color: #6cc6fa;
}

/* Additional styles if needed */
.buttons-container {
  text-align: center;
  margin-bottom: 20px;
}
.menu {
  position: absolute;
  top: 80px;
  left: 20px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  z-index: 1;
}
.menu ul li a:hover {
  color: #007bff;
}
.social-icons {
  margin-top: 10px;
  text-align: center;
}

.fa-facebook-f,.fa-linkedin {
  color: #2009f5;
  margin: 0 10px;
  text-decoration: rgb(11, 230, 238);
}
.fa-twitter {
  color: #0cb5f8;
  margin: 0 10px;
  text-decoration: rgb(11, 230, 238);
}

.fa-envelope {
  color: #007bff;
  
  text-decoration: rgb(11, 230, 238);
}
  .fa-cogs {
color: #007bff;
  }
  .fa-info-circle {
    color: #007bff;
  }
.fa-home {
  color: #007bff;
}
.fa-whatsapp {
  color: #04f538;
  margin: 0 10px;
  text-decoration: rgb(11, 230, 238);
}
.fa-instagram {
  color: #f86d2c;
  margin: 0 10px;
  text-decoration: rgb(11, 230, 238);
}
.social-icons a :hover {
  color: #f55004;
  margin: 0 10px;
  text-decoration: rgb(11, 230, 238);
}
