body {
  font-family: Arial, sans-serif;
  background-image: url('https://mymtnngnxtgen-shop-staging.mtnnigeria.net/media/auth0/autho-img.png');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px; 
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(8, 8, 8, 0.938);
  width: 300px;
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-color: black;
}

input[type="submit"] {
  background-color: #080808;
  color: yellow;
  cursor: pointer;
}
h2 {
  color: black;
  border: 2px solid rgb(25, 0, 255);
  padding: 8px 0; 
}


input[type="submit"]:hover {
  background-color: #1e0ff3;
}

#amount {
  background-color: yellow;
  border: none;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: calc(100% - 16px);
  text-align: center;
  font-weight: bold;
  color: rgb(8, 8, 8);
}
