 body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: changeBackground;
    animation-duration: 12s; /* Adjust transition duration as needed */
    animation-iteration-count: infinite;
}
.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 60px; /* Adjust based on your logo's aspect ratio */
}
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #070707;
    background-color: rgba(134, 132, 248, 0.5);
    padding: 20px;
    border-radius: 10px;
}
h1 {
    color: rgb(6, 6, 247);
}
h2 {
    color: rgb(241, 237, 8);
}
#countdown {
    font-size: 2em;
    font-weight: bold;
}

@keyframes changeBackground {
    0% { background-image: url('https://telegra.ph/file/9b78ad8faf52f0154ceb9.jpg'); }
    33% { background-image: url('https://telegra.ph/file/6b4376c35e58d7ba784c1.jpg'); }
    66% { background-image: url('https://telegra.ph/file/497f7f8a590dd3a9950f3.jpg'); }
    100% { background-image: url('https://telegra.ph/file/23c369c54214c2df8ab0d.jpg'); }
}
